@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #171717;
    --foreground: #d1d5db;
    
    --muted: #A91D3A;
    --muted-foreground: #171717;
 
    --popover: #171717;
    --popover-foreground: #d1d5db;
 
    --card: #171717;
    --card-foreground: #d1d5db;
 
    --border: #A4230D;
    --input: #d1d5db;
 
    --primary: #A4230D;
    --primary-foreground: #171717;

    --secondary: #A91D3A;
    --secondary-foreground: #d1d5db;

    --accent: #d1d5db;
    --accent-foreground: #171717;
    
    --destructive: #d1d5db;
    --destructive-foreground: #171717;
 
    --ring: #171717;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}